<div class="main_container">
    <div class="logo_image_caption">
        <div class="image">
            <img src="./../../../assets/images/wallet_logo.png" alt="">
        </div>
        <div class="label">
            Crypto Wallet
        </div>
    </div>
    <h3 class="new_msg">New to Crypto Wallet ?</h3>

    <div class="decission-card-wrape">
        <div class="decision-card">
            <div class="icon">
                <i class="fa-solid fa-download"></i>
            </div>
            <div class="message">
                <h4 class="text-center">Yes, let’s get set up!</h4>
                <p class="text-center">This will create a new wallet and Secret Recovery Phrase</p>
            </div>
            <div class="button">
                <button (click)="buttonClicked(false)">Create a Wallet</button>
            </div>
        </div>
        <div class="decision-card">
            <div class="icon">
                <i class="fa-solid fa-download"></i>
            </div>
            <div class="message">
                <h4 class="text-center">Yes, let’s get set up!</h4>
                <p class="text-center">This will create a new wallet and Secret Recovery Phrase</p>
            </div>
            <div class="button">
                <button (click)="buttonClicked(true)">Import Wallet</button>
            </div>
        </div>
    </div>
</div>