.main_container {
  width: 75%;
  margin: auto;
  height: unset !important;
  @media screen and (min-width: 540px) and (max-width: 900px) {
    width: 90%;
  }

  @media screen and (max-width: 550px) {
    width: 95%;
    margin-top: -20px;
  }
}

.logo_image_caption {
  display: flex;
  margin: 34px 0px;
  align-items: center;
  .image {
    img {
      width: 50px;
      @media screen and (max-width: 550px) {
        width: 45px;
      }
    }
  }
  .label {
    font-size: 26px;
    padding-left: 12px;
    font-family: fantasy;
    @media screen and (max-width: 550px) {
      font-size: 20px;
    }
  }
}

.twelve_phrase_tip_container {
  display: flex;
  width: 100%;
  //   justify-content: space-around;
  .twelve-phrase {
    padding: 0px 70px;
    width: 50%;
  }
  .tip {
    width: 50%;
    padding: 0px 70px;
  }
}
.phrase_container {
  padding: 19px;
  border: 1px solid green;
  border-radius: 16px;
}
