@media screen and (max-width: 600px) {
  .mat-cell,
  .mat-header-cell {
    flex: 1 1 auto;
  }
}

@media screen and (max-width: 600px) {
  .surname {
    display: none;
  }
}

.mat_table{
    width: 34px;
}
