<!-- Header Starts Here -->
<app-header></app-header>

<!-- Headers ends here  -->

<!-- login body starts here -->
<div class="login_body">
    <img class="Logo" src="./../../../assets/images/wallet logo.png" alt="logo">
    <h3 class="text-center mt-4 p-0">Welcome Back to <br><span> Crypto Wallet</span></h3>
</div>

<div class="container">
    <div class="add_password">
        <form class="mat-form">
            <mat-form-field class="mat-input-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="walletPass" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <div class="unlock-btn text-center">
                <button mat-raised-button color="primary" (click)="Login()">Unlock</button>
            </div>
        </form>
    </div>
</div>