.header {
  background-color: #7674744f;
  display: flex;
  padding: 15px 34px;
  align-items: center;
  justify-content: space-between;
  .logo_image {
    img {
      width: 55px;
    }
  }
  .network {
    border: 1px solid grey;
    padding: 9px 23px;
    border-radius: 66px;
  }
}

.login_body {
  padding: 35px 0px;
  .Logo {
    width: 150px;
    display: block;
    margin: auto;
  }
  h3 {
    font-size: 25px;
    span {
      color: blue;
      font-weight: 600;
    }
  }
}

