<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between py-2 px-4">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © Usman Farooq</span>
        <span *ngIf="innerwidth>580" class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Free <a
                href="https://www.facebook.com/profile.php?id=100012086918733" target="_blank"> Taiba kids School System
                from
            </a> from <a href="https://www.instagram.com/usman4609903/" target="_blank">Usman </a></span>
    </div>
</footer>