/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
$red_color: #da1c23;
$blue_color: rgb(13, 54, 158);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// materail Forms

.mat-form {
  width: 100%;
}
.mat-input-width {
  width: 100%;
}

.form_group {
  label {
    // margin: 15px 0px 3px;
    margin: 7px 3px 4px;
    font-weight: 600;
    font-size: 15px;
    @media screen and (max-width: 550px) {
      font-size: 13px;
    }
  }
}

.form_control {
  display: block;
  width: 100%;
  background-color: white;
  padding: 8px 8px;
  /* font-size: 16px; */
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid grey;
  // border-left: 4px solid #0d369e;
  transition: all 0.2s linear;

  &:focus {
    border: 1px solid $blue_color;
    outline: $blue_color;
    border-left: 2px solid $blue_color;
  }
  @media screen and (max-width: 550px) {
    font-size: 11px;
  }
}

.invalid_field {
  border: 1px solid red;
  outline: red;
  // border-left: 7px solid red;
  &:focus {
    border: 1px solid red;
    outline: red;
    border-left: 2px solid red;
  }
}

.custom_btn {
  background-color: $blue_color;
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 13px;
  padding: 9px 14px;
  border: 1px solid;
  transition: all 0.5s;
  &:hover {
    background-color: white;
    border: 1px solid $blue_color;
    color: $blue_color;
  }
}

.cursor_pointer{
  cursor: pointer;
}
